{% extends "layout/base.html" %}

{% block "title" %} Contactos {% endblock %}

{% block "content" %}
<form action="{% url 'contact' %}" method="GET">
  <input type="text" name="search" placeholder="buscar contacto" id="">
  <input type="submit" value="Buscar">
</form>
<span><a href="#">Ver todos</a><a href="#">Añadir</a></span>
<ul class="list">
  {% for contact in contacts %}
  <li>{{contact}}
    <span>
      <a href="#">Ver</a>
      <a href="#">Editar</a>
      <a href="#">Borrar</a>
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}